body {
  background-image:url(sozai/b_bg.jpg);
}
.wrap {
  overflow:hidden;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*background: url(sozai/Top_bg2.jpg) no-repeat bottom center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:7px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  padding:9px 115px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.myButton:active {
  position:relative;
  top:1px;
}
@media(min-width:320px){
  .myButton {
    /*font-size:13px;*/
    padding:0px 0px;

  }
  }


img {
  width:100%;
  height:100%;
}
.kadomaru img {
  border-radius:30px;
  -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
}

p {
  font-family:メイリオ;

}

.faq_text p {
  text-align:left;
}



.bg-color-shiro {
  background-color:#FFF;
}
.maru img {
  width:70%;
  height:100%;
  border-radius:50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
*/ /*vertical-align: middle;*/
}


.word-yellow {
  background-color:yellow;
  color:#000;
}
#about2 {
  width:100%;
}

.about3_text h2{
    padding-top:100px;
    color: #333;
    font-size: 300%;
}


.about3_text h4{
    color: #333;
    font-size: 200%;
}

.about3_text p{
    color: #333;
    font-size: 110%;
    text-align: left;
}
.about2_bg {
    margin:0px 13px 0px;

}
.about3_text span{
    background-color: #FFE347;
}
.about3_bg{
    background:url(sozai/third_bg.jpg) no-repeat;
    background-size: cover;
    margin:0px 11px 0px;
}
#about3{
    background-color: rgba(255,255,255,0.8);
}
.curriculum_text{
    margin: 15px 0;
    padding: 20px;
    background-color: #333;
    color:#FFF;
}
.curriculum_text span {
  background-color:yellow;
  color:#000;
}
.about5_bg{
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(140, 88, 39)),
    color-stop(1, rgb(51, 28, 8)));
background-image: -o-linear-gradient(bottom, rgb(140, 88, 39) , rgb(51, 28, 8) );
background-image: -moz-linear-gradient(bottom, rgb(140, 88, 39) , rgb(51, 28, 8) );
background-image: -webkit-linear-gradient(bottom, rgb(140, 88, 39), rgb(51, 28, 8) );
background-image: -ms-linear-gradient(bottom, rgb(140, 88, 39) , rgb(51, 28, 8) );
background-image: linear-gradient(to bottom, rgb(140, 88, 39) , rgb(51, 28, 8) );
}
.about5_bg h2 {
  /*font-family:"メイリオ";*/
  padding-top:100px;
  color:#FFF;
  text-shadow:3px 2px 3px gray;
}
.about_table{
    margin:12px 0;
    color: #333;
    background-color: #ededed;
    font-size: 18px;
}
.faq_text2{
    color: #d0451b;
    border-left: solid 3px;
    border-left-color: #d0451b;
    text-align: left;
    padding-left: 20px;
    background-color: rgba(255,255,255,0.5);
    font-size:25px;
}
.faq_text {
  /*margin:0px;*/
/*  border:1 px solid ;*/
  background-color:rgba(200,200,200,0.8);
  border-radius:15px;
}
.clafix{
    clear: both;
}

span {
  font-size:18px;
  font-family:"メイリオ";
  font-weight:bold;
  text-shadow:1px 1px 0px #FFF;
}
.about6_bg{

    background:url(sozai/fourth_bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    /*padding: 50px 0;*/
    color: #000;
    background-size: 4000px;
    background-position:50%;

}
.haikei{
        /*width:100%;*/
        padding-bottom:10px;
        background-color: rgba(255,255,255,0.5);
}
.myButton2 {

    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:10px 15px;
    text-decoration:none;
    font-weight: 500;
    margin-bottom: 20px;
}

.myButton2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.myButton2:active {
    position:relative;
    top:1px;
}
@media(min-width:320px) {
  .myButton2 {
    font-size:13px;
    padding:8px 4px;
}
}

/*.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:7px 100px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.myButton:active {
    position:relative;
    top:1px;
}
*/@media(min-width:480px) {
  .myButton {
    padding:5px 60px;

  }
}
@media(min-width:320px) {
  .myButton {
    padding:5px 60px;
    box-shadow: inset 0px 1px 0px 0px #cf866c;



  }
}

.entry_box {
    border:dotted 3px #D0451B;
}

h4.daidai {
    color:#D0451B;b
    font-size:30px;
    font-family:"utsukushiregular" , "游明朝", "YuMincho", "ヒラギノ明朝";;
}

h3.kage {
  font-size:24px;
}
h2.ookii {
  text-shadow:1px 1px 3px #777;
  margin-top:30px;
  font-size:45px;
}
h1.shadow{
      text-shadow:1px 1px 3px #000;
}
.banner li{
  width:180px;
  display:inline-block;
  float:left;
}
footer {
  background-color:#000;
}
p.hitori{
  color:#FFFFFF;
}

i.white {
  color:#ffffff;
}

h4 {
    text-shadow:1px 1px 3px #999;

}